* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

.page {
  font-family: 'Roboto', serif;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #0177a9 20%, #007e5e);
  min-height: 100vh;
  text-align: center;
  min-width: 320px;
}